@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "item"}))
    {
        @Html.AntiForgeryToken()

        <div class="right menu">
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", null, new {title = "Manage", @class="item"})
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        </div>
    }
}
else
{
    <div class="right menu">
        @Html.ActionLink("Register", "Register", "Account", null, new {id = "registerLink", @class="item"})
        @Html.ActionLink("Log in", "Login", "Account", null, new {id = "loginLink", @class="item"})
    </div>
}